.header {
    justify-content: center;
    text-align: center;
    background-color: lightblue; /* Добавляем цвет фона */
    padding: 10px; /* Добавляем отступы */
}

ol li {
    list-style-position: inside;
}

.exam {
    font-family: 'Arial', sans-serif; /* Меняем шрифт */
    color: navy; /* Меняем цвет текста */
}

#table {
    line-height: 200%;
    border: 1px solid black; /* Добавляем границу */
}

footer {
    padding: 10px; /* Увеличиваем отступы */
    background: #444;
    color: white;
    text-align: center; /* Выравниваем текст по центру */
}